
// brand colors
$brand-primary:                 #32415A;
$brand-success:                 #00ff00;
$brand-warning:                 #FFC107;
$brand-danger:                  #DC3545;
$brand-info:                    #17A2B8;

// app layouts
$app-primary:                   #32415A;
$app-secondary:                 #FB9337;

$app-header-height:             60px;
$app-header-bg:                 $app-primary;
$app-sideleft-width:            240px;
